<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Persona</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Id persona">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Fecha</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="YYYY-MM-DD">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput3">DNI</label>
    <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="DNI">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput4">Phone</label>
    <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="+34 666666666">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput5">Dificultad respiratoria</label>
    <input type="text" class="form-control" id="formGroupExampleInput5" placeholder="Mucha,Poca,Media">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput6">Fiebre</label>
    <input type="text" class="form-control" id="formGroupExampleInput6" placeholder="Si o No">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput7">Tos continuada</label>
    <input type="text" class="form-control" id="formGroupExampleInput7" placeholder="Si o No">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput8">Malestar general</label>
    <input type="text" class="form-control" id="formGroupExampleInput8" placeholder="Mucho,Poco,Medio">
  </div>
  <button type="button" class="btn btn-primary">Añadir seguimiento</button>
</form>
